.vscode/
lib/
renpy/

game/cache/
game/saves/
game/gui/
game/images/
game/tl/

game/gui.rpy
game/options.rpy
game/screens.rpy
game/script.rpy

Radiant.py
errors.txt
gradle.properties.txt
log.txt
Stored Script.txt
traceback.txt
project.json

screenshot*

*.bak
*.bat
*.exe
*.opus
*.rpa
*.save
*.sh
*.zip
